{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">

  <div class="row align-items-center">

    <div class="col-md-6">
      <h2 class="mb-4">{{heading}}</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <!-- check if there are any messages -->

        <div class="row mt-3 mb-3">
          <div class="col-md-12">
            {% for category, message in messages %}
            <!--loop through the messages-->
            <div class="alert alert-{{ category }}">{{ message }}</div>
            <!--display as alert-->
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}

      {{wtf.quick_form(form)}}

    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ url_for('static', filename='/img/login.svg')}}">
    </div>
  </div>

  {% if heading|lower =='login' %}
  <div class="col-md-4 mb-5 ml-5">
    <p>New user? <a href="{{ url_for('authentication.register') }}">Click here to register</a>.</p>
  </div>
  {% endif %}
</div>
{% endblock %}