{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="main">
  <div class="container jumbotron mt-4 pt-3 pb-3" style>
    <div class="row align-items-center">
      <div class="col-md-8 text-center text-md-left">
        <h1 class="responsive-heading">Create New Listing</h1>
        <p>List your computers with us for a faster sale, and a better offer!</p>
      </div>

      <div class="col-md-4">
        <img class="img-fluid" src="{{url_for('static', filename='img/createlisting.svg')}}">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        {{wtf.quick_form(form)}}
      </div>
    </div>

    <!--Testing new form layout-->
    <!--
    <div>
      <form action="{{ url_for('listing.createlisting')}}" method="POST" role="form">
        {{ form.csrf_token() }}

        <div class="row">
          <div class="col-md-6">
            {{ wtf.form_field(form.title, placeholder='Title...') }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.starting_bid, placeholder='Starting Bid...') }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{ wtf.form_field(form.brand) }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.cpu) }}
          </div>
        </div>
      

        <div class="row">
          <div class="col-md-6">
            {{ wtf.form_field(form.ram) }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.storage) }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{ wtf.form_field(form.condition) }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.end_date) }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{ wtf.form_field(form.image_url) }}
          </div>
          
        </div>

        <div class="row">
          <div class="col-md-12">
            {{ wtf.form_field(form.description, placeholder="Item description...") }}
          </div>
        </div>

        <div class=row>
          <div class="col-md-12">
            {{ wtf.form_field(form.submit, class="btn btn-blue") }}
          </div>
        </div>
      </form>
    </div>
  -->
    
  </div>
</div>
{% endblock %}