{% extends 'base.html' %}

{% block content %}
<main style="margin-top: 100px;">
    <div class="container jumbotron mt-4 pt-3 pb-3" style>
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
            <h1 class="responsive-heading">My Watch List</h1>
            <p>Add auctions to your watch list to keep an eye on which listings you are interested in.</p>
          </div>
    
          <div class="col-md-4">
            <img class="img-fluid" src="{{url_for('static', filename='img/watchlist.svg')}}">
          </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="card-deck mb-3">
                    {% for watchlist in listing.watchlistitems %}
                    <div class="col-md-6 col-lg-3">

                        <div class="card shadow-sm border-light mb-4 listing-card">
                            <a href="{{url_for('listing.showlisting', id=listing.id)}}" class="position-relative">
                            <img src="{{ listing.image_url }}" class="card-img-top" alt="image"> </a>
                            <div class="card-body">
                                <a href="{{url_for('listing.showlisting', id=listing.id)}}">
                                    <h5 class="font-weight-normal">{{ listing.title }}</h5>
                                </a>

                                <div class="d-block">
                                    <span class="text-muted font-small d-block mb-2"><i
                                        class="fas fa-sort-numeric-up-alt orange-icon"></i> Total Bids:
                                    <strong>{{ listing.total_bids }}</strong></span>
                                </div>

                                <div class="d-block">
                                    <span class="text-muted font-small d-block mb-2"><i class="fas fa-tags orange-icon"></i> Current Bid:
                                    <strong>${{ listing.current_bid }}</strong></span>
                                </div>

                                <div class="d-block">
                                    <span class="text-muted font-small d-block mb-2"><i class="fas fa-clock orange-icon"></i> Time Left:
                                    <strong>DD:HH:MM</strong></span>
                                </div>

                                <a class="btn btn-blue btn-block" href="#" role="button"><i class="fas fa-eye"></i> Watch List</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>  
</main>
{% endblock %}