{% extends 'base.html' %}

{% block content %}
<main style="margin-top: 100px;">
    <div class="container jumbotron mt-4 pt-3 pb-3" style>
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
            <h1 class="responsive-heading">My Watch List <span class="text-muted">{{ watchlistcount }}</span></h1>
            <p>Add auctions to your watch list to keep an eye on which listings you are interested in.</p>
          </div>
    
          <div class="col-md-4">
            <img class="img-fluid" src="{{url_for('static', filename='img/watchlist.svg')}}">
          </div>
        </div>
    </div>

    <section>
      <div class="container">
        <div class="row mb-4">
          {% for listing in watchlistlistings %}
            
            {% for item in watchlistitems %}
              {% if item.listing_id == listing.id %}
              <div class="col-md-6 col-lg-3">
                <div class="card shadow-sm border-light mb-4 listing-card">
                  <a href="{{url_for('listing.showlisting', id=listing.id)}}" class="position-relative">
                    <img src="{{ listing.image_url }}" class="card-img-top" alt="image"> </a>
                  <div class="card-body">
                    <a href="{{url_for('listing.showlisting', id=listing.id)}}">
                      <h5 class="font-weight-normal">{{ listing.title }}</h5>
                    </a>
                    <p class="d-block mb-2"><i class="fas fa-check-circle text-success"></i><span class="text-muted">
                      Status:</span><strong> {{listing.status}}</strong></p>
                    <div class="d-block">
                      <span class="text-muted font-small d-block mb-2"><i
                          class="fas fa-sort-numeric-up-alt orange-icon"></i> Total Bids:
                        <strong>{{ listing.total_bids }}</strong></span>
                    </div>
                    <div class="d-block">
                      <span class="text-muted font-small d-block mb-2"><i class="fas fa-tags orange-icon"></i> Current Bid:
                        <strong>${{ listing.current_bid }}</strong></span>
                    </div>
                    <div class="d-block">
                      <span class="text-muted font-small d-block mb-2"><i class="fas fa-clock text-warning"></i> Date Added:
                        <strong>{{ item.date_added }}</strong></span>
                    </div>
                    <form class="d-inline" action="{{url_for('listing.remove_watchlist', listing=listing.id)}}" method="POST">
                      <button class="btn btn-danger" type="submit"> Remove</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
  </section>  
</main>
{% endblock %}